{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Jenny Waller">
        <!-- <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <img src="{% static 'news/images/Purple_no_circle.svg' %}" alt="she_codes" width="200px" height="200px" >
                </a>
            </div>
            <h1>In the news</h1>
            <h3>{% include './nav.html' %}</h3>
        </header>
        {% block content %}{% endblock %}
    </body>

</html>